.DS_Store

*dump*
*dumps*
*tmp*

env
*.env*
.envrc
.venv*
.perfenv*
venv*
agnoenv*
aienv*
phienv*

.mypy_cache
*__pycache__*
*.egg-info
*.pyc
*.pytest_cache
*.ruff_cache
*.cache*
*.config*

text-models/*.gguf

.idea
.vscode
*.code-workspace

certs/

/storage
.images

wip

dist

scratch
junk
agents.db
data.db

.ipynb_checkpoints

audio_generations

*.db

token.json

.composio.lock

coverage_report
.coverage
